<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>

<h3>Books</h3>
<ul>
  <% @user.books.each do |b| %>
    <li><%= link_to b.title, b %></li>
  <% end %>
</ul>