<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Bookers !!</h1>
  <p class="lead">In Bookers, you can share and exchange your opinions, inpressions and emotions about various books!</p>
</div>